:root {
  --background: #fafafa;
  --bg-r: 250;
  --bg-g: 250;
  --bg-b: 250;
  --text: #262626;

  --actionable: blue;
  --actionable-highlight: floralwhite;
  --border: #ccc;
}

/*== hide scrollbar, keep scrolling ==*/
/* https://stackoverflow.com/a/57232763 */
@-moz-document url-prefix() { /* Disable scrollbar Firefox */
  html { scrollbar-width: none }
}
body {
  margin: 0;
  scrollbar-width: none; /* Also needed to disable scrollbar Firefox */
  -ms-overflow-style: none;  /* Disable scrollbar IE 10+ */
  overflow: scroll;
}
body::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* Disable scrollbar Chrome/Safari/Webkit */
}
/*== END - hide scrollbar, keep scrolling ==*/

* {
  box-sizing: border-box;
}

/* https://stackoverflow.com/questions/71480433/chrome-is-injecting-some-stylesheet-in-popup-ui-which-reduces-the-font-size-to-7 */
html,
body {
  /* font-size: initial; */
  font-size: 16px;
  font-family: sans-serif;
  line-height: 1.4;
  text-rendering: optimizeLegibility;
  /* background: #fafafa; */
  background-color: var(--background);
  /* color: #262626; */
  color: var(--text);
}

body {
  padding: .75em;
  position: relative;
  max-height: 600px;
  max-width: 800px;
}

body.es {
  min-width: 410px; /* needed because spanish string are looong */
}

details {
  width: 100%;
  max-width: 100%;
  margin-bottom: .25rem;
  cursor: pointer;
}

span,
.js-tabs {
  font-size: 14px;
}

/* spacing needed for messages fixed footer */
.js-tabs__content {
  margin-bottom: 55px;
}

a,
a:visited,
.actionable {
  color: var(--actionable);
  cursor: pointer;
  text-decoration: none;
}

.actionable svg {
  margin-right: .25rem;
}

[data-id="image-dimensions"] {
  font-family: monospace;
}

.qrcode-svg {
  display: block;
  margin: 0 auto;
  cursor: zoom-in;
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -moz-crisp-edges;
  image-rendering: pixelated;
}

#highlighted-tab-instructions {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}

#highlighted-tab-list {
  margin: 0 auto;
  width: 100%;
  padding-left: 1.5rem;
}

.highlighted-tab-list-item {
  display: list-item;
  max-width: 100%;
  width: 100%;
  margin-bottom: .25rem;
}

.highlighted-tab-list-item > a {
  padding-bottom: .25rem;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

.js-tabs__content .actionable + .actionable,
.encodedUrlLabel {
  padding: .25rem .275rem;
  border-radius: .25rem;
  cursor: pointer;
  user-select: none;
  transition: all .3s ease;
}
.js-tabs__content .actionable + .actionable:hover,
.encodedUrlLabel:hover {
  transition: all .3s ease;
  background-color: var(--actionable-highlight);
}
.encodedUrlLabel input {
  margin: 0;
}

.messages {
  border-top: 1px solid var(--border);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: .275rem .75rem .275rem;
  background: var(--background);
  background: linear-gradient(90deg,
    rgba(var(--bg-r),var(--bg-g),var(--bg-b),1) 40%,
    rgba(var(--bg-r),var(--bg-g),var(--bg-b),.75) 70%,
    rgba(var(--bg-r),var(--bg-g),var(--bg-b),0) 100%
  );
}

.messages span {
  /* background-color: var(--background); */
  /* padding: 2px 5px; */
  border-radius: .25rem;
}

.messages span span {
  padding: 0;
}

/* ===== */

[hidden],
.hide {
  display: none;
}

.inline {
  display: inline-block;
}

.block {
  display: block;
}

.flex-center {
  display: flex;
  align-items: center;
}

.mb-0 {
  margin-bottom: 0;
}

.p-1 {
  padding: 1rem;
}

/* browser popup extension max height 600px and max width 800px */
/* https://stackoverflow.com/a/8983678 */
/*
@media only screen and (min-width: 800px),
only screen and (min-height: 600px) { }

@media only screen and (min-width: 800px) { }
*/

@media (min-height: 600px) {
  /*
    this fix a weird bug where margin-bottom from .js-tabs__content
    would not be applied when details
  */
  .js-tabs {
    padding-bottom: 10px;
  }
}
